In [4]:
# 1. Import the WeatherPy_database.csv file. 
import pandas as pd
import matplotlib.pyplot as plt

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gumdag,TM,39.21,54.59,82.62,11,36,14.92,scattered clouds
1,1,Jamestown,US,42.10,-79.24,60.44,42,100,4.61,overcast clouds
2,2,Saint-Philippe,RE,-21.36,55.77,71.19,66,55,7.25,broken clouds
3,3,Castro,BR,-24.79,-50.01,53.58,91,16,3.42,few clouds
4,4,Mar del Plata,AR,-38.00,-57.56,48.09,90,100,5.75,fog

In [2]:
# 2. Prompt the user to enter minimum and maximum temperature criteria

In [3]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

In [4]:
# 4a. Determine if there are any empty rows.

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

In [ ]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure